*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #081b24;
    
    font-family: 'Trebuchet Ms', sans-serif;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
nav {
    padding: 20px;
    background-color: #081b24;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo h2 a{
    font-size: 1.8rem;
    color: aqua;
    margin-left: 20px;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;

}
.navLogo p {
    transform: rotate(90deg);
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
}
.navLinks {
    text-align: right;
    margin-top: -30px;
    font-family: 'Trebuchet Ms';
}
.navLinks a {
    margin-right: 40px;
    transition: 0.5s;
    animation: sliderDown .7s ;
}
.navLinks a:hover,
.navLinks .active{
    color: aqua;
}

@media screen and (max-width: 650px) {

    .navLogo h2 a{
        margin-left: -10px;
    }
    .navLinks {
        text-align: center;
        margin-top: 15px;
        display: none;
    }
    .navLinks a{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .navLogo p {
        display: block;
        transform: rotate(90deg);
        cursor: pointer;
        font-size: 1.2rem;
    }
    #closeBtn {
        font-size: 1.6rem;
    }
    
}
@keyframes sliderDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
article {
    width: 80%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /*display: none;*/
}
article .articleContent {
    width: 50%;
    text-align: left;
    line-height: 1.6;
}
.articleContent h1 {
    margin-bottom: 40px;
    font-size: 2rem;
}
.articleContent h3 {
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: aqua;
}
.articleContent p {
    font-weight: 300;
    line-height: 1.8;
}
article .myImg {
    width: 50%;
    text-align: right;
    
}
article img {
    border: 2px solid aqua;
    border-radius: 50%;
}
.articleContent button {
    width: 180px;
    margin-top: 20px;
    margin-left: 25%;
    padding: 10px 0px;
    background-color: transparent;
    border: 2px solid aqua;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.articleContent button::after {
    content: '';
    width: 0;
    height: 35px;
    background-color: rgb(6, 235, 235);
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: -0px;
    z-index: -1;
    transition: .7s;
}
.articleContent button:hover::after{
    width: 180px;
}
@media screen and (max-width: 858px){
    .articleContent h1 {
        font-size: 1.8rem;
        margin-left: 10px;
    }
    .articleContent h3 {
        font-size: 1.5rem;
        margin-left: 10px;
    }
}
@media screen and (max-width: 797px){
    .articleContent h1 {
        font-size: 1.6rem;
        margin-left: 10px;
    }
    .articleContent h3 {
        font-size: 1.3rem;
        margin-left: 10px;
    }
    .articleContent p {
        font-size: 0.9rem;
        margin-left: 10px;
    }
}
@media screen and (max-width: 650px) {
    article {
    width: 90%;
    }
    .articleContent {
        width: 50%;
    }
    .articleContent h1 {
        font-size: 1.6rem;
        margin-left: 10px;
    }
    .articleContent h3 {
        font-size: 1.3rem;
        margin-left: 10px;
    }
    .articleContent p {
        font-size: 0.9rem;
        margin-left: 10px;
    }
    .articleContent button {
        width: 120px;
    }
    .articleContent button:hover::after{
        width: 118px;
    }
    article .myImg {
        width: 50%;
        margin-left: 20px;
    }
    .myImg img {
        width: 250px;
        height: 300px;
    }
}
@media screen and (max-width: 536px){
    article {
        width: 90%;
    }
    .articleContent {
        width: 50%;
    }
    .articleContent h1 {
        font-size: 1.4rem;
        margin-left: 10px;
    }
    .articleContent h3 {
        font-size: 1.1rem;
        margin-left: 10px;
    }
    .articleContent p {
        font-size: 0.7rem;
        margin-left: 10px;
    }
    .articleContent button {
        width: 100px;
    }
    .articleContent button:hover::after{
        width: 98px;
    }
    article .myImg {
        width: 50%;
        margin-left: 20px;
    }
    .myImg img {
        width: 230px;
        height: 280px;
    }
}
main {
    width: 90%;
    margin: 20px auto;
}
main .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .about canvas {
    
    background: linear-gradient(to top, aqua, rgb(4, 187, 187));
    
}
.about div {
    width: 60%;
    text-align: left;
    line-height: 1.8;
}
.about div h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 25%;
    color: rgb(77, 243, 215);
}
.about div p {
    width: 500px;
}
.about div button {
    width: 160px;
    margin-top: 40px;
    padding: 8px 0px;
    margin-left: 25%;
    border: 2px solid aqua;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s;
}
.about div button:hover {
    background-color: rgb(6, 228, 228);
}

main .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
main .services h2 {
    margin-left: 40%;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: rgb(162, 14, 207);
    font-size: 2rem;
}
main .services canvas {
    
    background: linear-gradient(to top, rgb(162, 14, 207), rgb(105, 241, 219));
    width: 60%;
}
.services div {
    width: 90%;
}
.services div p {
    width: 90%;
    line-height: 1.7;
    margin-left: 40px;
    justify-content: center;
    font-size: .9rem;
    text-align: center;
    
}

.services div button {
    width: 160px;
    margin-top: 40px;
    padding: 8px 0px;
    margin-left: 35%;
    border: 2px solid rgb(162, 14, 207);
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s;
}
.services div button:hover {
    background-color: rgb(162, 14, 207);
    
}

#box1 {
    background: linear-gradient(to left, rgb(166, 7, 187), rgb(59, 208, 228));
}

#box2 {
    background: linear-gradient(to left, rgb(197, 152, 5), rgb(213, 206, 214));
}

#box3 {
    background: linear-gradient(to left, rgb(7, 166, 187), rgb(231, 65, 65));
}

#box4 {
    background: linear-gradient(to top, rgb(7, 106, 187), rgb(56, 53, 56));
}
.products {
    margin: 150px 0px 100px;
    font-family: "Permanent Marker", cursive;
}
.products h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    font-family: "Trebuchet Ms", sans-serif;
}
.products .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .boxes canvas {
    cursor: pointer;
    transition: .7s;
}
.products .boxes canvas:hover {
    transform: scale(1.1);
}
.products .boxes .prices {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 10px;
}
.products .boxes button {
    padding: 8px 25px;
    cursor: pointer;
}
.products .btn1 {
    background-color: rgb(255, 255, 255);
    border: 2px solid #fff;
    color: #081b24;
    border-radius: 5px;
    transition: .7s;
}
.products .btn1:hover {
    background-color: rgb(162, 14, 207);
    border: 2px solid rgb(162, 14, 207);
    color: #fff;
}

.products .btn2 {
    background-color: rgb(255, 255, 255);
    border: 2px solid #fff;
    color: #081b24;
    border-radius: 5px;
    transition: .7s;
}
.products .btn2:hover {
    background-color: rgb(197, 152, 5);
    border: 2px solid rgb(197, 152, 5);
    color: #fff;
}

.products .btn3 {
    background-color: rgb(255, 255, 255);
    border: 2px solid #fff;
    color: #081b24;
    border-radius: 5px;
    transition: .7s;
}
.products .btn3:hover {
    background-color: rgb(231, 65, 65);
    border: 2px solid rgb(231, 65, 65);
    color: #fff;
}

.products .btn4 {
    background-color: rgb(255, 255, 255);
    border: 2px solid #fff;
    color: #081b24;
    border-radius: 5px;
    transition: .7s;
}
.products .btn4:hover {
    background-color: rgb(7, 166, 187);
    border: 2px solid rgb(7, 166, 187);
    color: #fff;
}
.pannier {
    background-color: #fff;
    text-align: center;
    width: 400px;
    margin: 0px auto 150px;
    color: #081b24;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 77px;
}
.pannier .tittle {
    margin-bottom: 10px;
    border-bottom: 2px solid #081b24;
}
.pannier h2 {
    margin-bottom: 10px;
}
.pannier .tittle p {
    padding-bottom: 7px;
    text-align: left;
    cursor: pointer;
    position: relative;
}
.pannier .tittle p::after{
    content: '+';

    position: absolute;
    right: 5px;
    font-size: 1.4rem;
}
.pannier .boxesPannier {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .7s;
    margin-bottom: 5px;
}

.pannier .boxesPannier .checkBtn {
    padding: 6px 10px;
    background-color: #fff;
    border:2px solid purple;
    color: purple;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s;
}
.pannier .boxesPannier .deleteBtn {
    padding: 6px 10px;
    padding: 6px 10px;
    background-color: #fff;
    border:2px solid red;
    color: red;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s;
}
.pannier .boxesPannier .checkBtn:hover {
    background-color: purple;
    border:2px solid purple;
    color: #fff;
}
.pannier .boxesPannier .deleteBtn:hover {
    background-color: red;
    border:2px solid red;
    color: #fff;
}
.pannier #productPannier {
    color: #081b24
}
.pannier #pricePannier {
    color: #081b24
}
.pannier .totalPannier {
    text-align: left;
    margin-top: 15px;
    border-top: 2px solid #081b24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
/*Javascript Box Pannier*/
.pannier .boxesPannier button {
    border: none;
    background-color: #fff;
    margin-left: 5px;
    transition: .7s;
}